# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.ipynb_checkpoints

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
.env
.venv
venv/
ENV/

\!notes/   
training/       